.student {

    paddingLeft: 10em;
    background-color: burlywood;

}

.student.coffee0 {
  background-color: rgb(128,128,128);
}

.student.coffee1 {
  background-color: rgb(144,144,144);
}

.student.coffee2 {
  background-color: rgb(180,180,180);
}

.student.coffee7 {
  background-color: rgb(220,220,180);
}

.student.coffee10 {
  background-color: rgb(250,250,250);
}